<hr />
<div class="m-2">
    <button [class]="
    {
        'disabled' : button_disabled,
    }" class="btn btn-danger m-2" (click)="text_color='text-danger'">Rojo</button>
    <button [class.disabled]="button_disabled" class="btn btn-success m-2" (click)="text_color='text-success'">Verde</button>
    <button [class.disabled]="button_disabled" class="btn btn-primary m-2" (click)="text_color='text-primary'">Azul</button>
</div>
<p [class]="text_color">Texto que cambia de color</p>
{{text_color}}

<button class="secondary" (click)="button_disabled=!button_disabled">Activar/Desactivar</button>
<hr/>
<button class="btn btn-primary"
 (click)="imagen='https://images.pexels.com/photos/20440051/pexels-photo-20440051/free-photo-of-moda-gente-mujer-relajacion.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
Imagen 1</button>
<button class="btn btn-danger" 
(click)="imagen='https://images.pexels.com/photos/20410779/pexels-photo-20410779/free-photo-of-madera-paisaje-hoja-arbol.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'">
Imagen 2</button><hr/>
<img [src]="imagen" alt="" style="width: 200px;">