<p>formulario-reactivo works!</p>
<form [formGroup]="formUser" (ngSubmit)="procesar()">
    <div class="card">
        <div class="card-body">
            <label for="" class="form-label">Nombre</label>
            <input type="text" [formControl]="name" class="form-control">
            <div class="alert alert-danger" [hidden]="name.valid || name.pristine">
                Nombre es requerido
            </div>
        
            <label for="" class="form-label">Email</label>
            <input type="email" [formControl]="email"  class="form-control">
            <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
                <span *ngIf="email.errors?.['required']">
                    Email Requerido
                </span>
                <span *ngIf="email.errors?.['email']">
                    Email no valido
                </span>
            </div>

            <button [disabled]="formUser.invalid" class="mt-2 btn btn-success">Enviar</button>
        </div>

    </div>
</form>
{{name.value}}
{{email.value}}
